<input type="text" [(ngModel)]="itemName" />
<input type="number" [(ngModel)]="itemCost" />
<button (click)="addItem()">Add item</button>

<ul>
  <li *ngFor="let item of items">{{ item.name }} - {{ item.cost }}</li>
</ul>

<input type="text" [(ngModel)]="personName" />
<button (click)="addPerson()">Add person</button>

<ul>
  <li *ngFor="let currentPerson of person">{{ currentPerson }}</li>
</ul>

<h1>Bill</h1>

<ng-container>
  <div *ngFor="let currentPerson of person">
    <ol>
      <li>{{ currentPerson }}</li>
    </ol>
    <ul>
      <li *ngFor="let item of items">
        {{ item.name }} - {{ item.cost }}
        <span
          ><button (click)="addItemToPerson(currentPerson, item.cost)">+</button
          ><button (click)="addItemToPerson(currentPerson, item.cost, true)">
            -
          </button></span
        >
      </li>
    </ul>
    <div>
      <h1>Person Total Cost: {{ getPersonCost(currentPerson) }}</h1>
    </div>
  </div>
  <div>
    <h1>Total Bill Amount: {{ getTotalBillAmount() }}</h1>
  </div>
</ng-container>

<router-outlet></router-outlet>
